<div class="footer">
  <ul class="inline">
    <li>&copy; 2013 useflashpunk.net</li>
    <li><a href="https://github.com/ChevyRay">ChevyRay</a></li>
    <li><a href="https://github.com/Draknek">Draknek</a></li>
    <li><a href="https://github.com/zachwlewis">zachwlewis</a></li>
    <li class="pull-right"><a href="http://glyphicons.com/">Gylphicons</a></li>
    <li class="pull-right"><a href="{{site.url}}/map">Map</a></li>
    <li class="pull-right"><a href="https://github.com/zachwlewis/useflashpunk.net">Source</a></li>
  </ul>
</div>