<header class="masthead clearfix">
  <div class="container">
    <div class="contents clearfix">
    <div class="title">
      <a href="/">
        <img id="site-logo" src="https://s3.amazonaws.com/developers-useflashpunk/assets/fp-logo-large.png" alt="FlashPunk">
      </a>
    </div>
    
    <ul class="nav navbar-nav pull-right">
      <li><a href="http://developers.useflashpunk.net"><i class="fa fa-users"></i> Community</a></li>
      <li><a href="/docs"><i class="fa fa-lightbulb-o"></i> Documentation</a></li>
      <li><a href="/tutorials"><i class="fa fa-code"></i> Tutorials</a></li>
      <li><a href="https://github.com/Draknek/FlashPunk"><i class="fa fa-github"></i> Source</a></li>
      <li><a href="/irc"><i class="fa fa-comments"></i> IRC</a></li>
      <li class="active"><a href="/donate"><i class="fa fa-heart"></i> Donate</a></li>
    </ul>
    </div>
  </div>
</header>
