html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  padding-bottom: 60px;
}

/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}
footer {
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
}

footer .container {
  height: 60px;
}

footer .contents {
  margin: 18px auto;
}

#main-header {
  background-color: #ddd;
  background-position: 0 -60px;
  background-image: url("/assets/landing/landing-header-large.png");
  background-attachment: fixed;
  min-height: 400px;
}

.media > .pull-left {
  margin-top: 25px;
}

#site-logo {
  max-width: 122px;
  vertical-align: middle;
}

.navbar-nav
{
  margin-top:-8px;
}

.title {
  display: table;
  float: left;
  height: 40px;
}

.masthead {
  height: 60px;
  padding-top: 3px;
  padding-right: 3px;
  border-bottom: 1px solid #eee;
  background: #f9f9f9;
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  top: 0;
  left: 0;
}

.masthead .contents {
  margin: 10px 0;
}
