<!DOCTYPE html>
<html>
  <head>
    <title>FlashPunk: {{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <link rel="icon" type="image/png" href="{{ site.url}}/img/fp-favicon.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style type="text/css">

      {% include styles.css %}
    }
      
    </style>
    <link href="{{site.url}}/css/pygments.css" rel="stylesheet" media="screen">
  </head>

  <body>
  <div id="wrap">
    <div id="push"></div>
    {% include navigation.html %}
    
    {{ content }}    
      
  </div>

    {% include footer.html %}
    
    {% include scripts.html %}

  </body>

</html>
