<!DOCTYPE html>
<html>
  <head>
    <title>FlashPunk Tutorial: {{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{site.url}}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{site.url}}/img/fp-favicon.png">
    <style type="text/css">
      .col-sm-3 {
        margin-top: 22px;
      }
      {% include styles.css %}
    </style>
    <link href="{{site.url}}/css/pygments.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div id="wrap">
    <div id="push"></div>
    {% include navigation.html %}

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <!-- Navigation Sidebar -->
          <ul class="nav nav-pills nav-stacked clearfix" data-spy="affix">
            <li class="nav-header">Getting Started</li>
            {% for post in site.categories.getting-started reversed %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}

            <li class="nav-header">Basic</li>
            {% for post in site.categories.basic reversed %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}

            <li class="nav-header">Intermediate</li>
            {% for post in site.categories.intermediate reversed %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}

            <li class="nav-header">Advanced</li>
            {% for post in site.categories.advanced reversed %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="page-header">
            <h1>{{ page.title }}</h1>
          </div>
          
          <!-- Post Content -->
          {{ content }}
        </div>
      </div>
    </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
