<!DOCTYPE html>
<html>
  <head>
    <title>FlashPunk Tutorial: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{site.url}}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="{{site.url}}/img/fp-favicon.png">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{site.url}}/css/pygments.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container-fluid">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{site.url}}/">Home</a></li>
          <li><a href="http://developers.useflashpunk.net">Community</a></li>
          <li><a href="{{site.url}}/docs">Documentation</a></li>
          <li class="active"><a href="{{site.url}}/tutorials">Tutorials</a></li>
          <li><a href="https://github.com/Draknek/FlashPunk">Source</a></li>
        </ul>
        <h3 class="muted">FlashPunk</h3>
      </div>

      <hr>
      <div class="row">
      <div class="span3">
        <!-- Navigation Sidebar -->
        <ul class="nav nav-list">
          <li class="nav-header">Getting Started</li>
          {% for post in site.categories.getting-started reversed %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}

          <li class="nav-header">Basic</li>
          {% for post in site.categories.basic reversed %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}

          <li class="nav-header">Intermediate</li>
          {% for post in site.categories.intermediate reversed %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="span9">
        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>
        
        <!-- Post Content -->
        {{ content }}
      </div>
      </div>

      
      <hr>

      <div class="footer">
        <p>Created by <a href="https://github.com/ChevyRay">ChevyRay</a>, maintained by <a href="https://github.com/Draknek">Draknek</a>. Icons by <a href="http://glyphicons.com/">Gylphicons</a>.</p>
        <p>Site created by <a href="https://github.com/zachwlewis">zachwlewis</a>.</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{site.url}}/js/bootstrap.min.js"></script>
  </body>
</html>